{% extends "PdfMySiteFrontBundle:Default:layout.html.twig" %}
{% block body %}
    {#{{ pagination.getTotalItemCount }}#}
    <div id="pdf-list" class="container">
        <div class="starter-template">
            {% for archive in pagination %}
                <div>{{ archive.id }}
                    <img src="{{asset('generates/t_'~archive.file~'.png')}}" class="img-responsive center-block img-thumbnail"/>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="pdf-pagination" class="container">
        <div class="starter-template">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>   
{% endblock %}
