{% extends "PdfMySiteFrontBundle:Default:layout.html.twig" %}
{% block body %}
    {#{{ pagination.getTotalItemCount }}#}
    <div id="pdf-list" class="container">
        <div class="starter-template">
            {% for archive in pagination %}
                <div>{{ archive.id }}</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
